/* General Styling */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&family=Source+Sans+Pro:wght@300;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.2s linear;
}

:root {
    --ff-primary: 'Source Sans Pro', sans-serif;
    --ff-secondary: 'Roboto', sans-serif;

    --fw-reg: 300;
    --fw-bold: 900;
    --light-color: #fff;
    --primary-color: pink;
    --light-bg: #555;
    --secondary-color: #333;
    --dark-color: #222;
    --fs-h1: 6rem;
    --fs-h2: 5.25rem;
    --fs-h3: 4.45rem;
    --fs-body: 2.5rem;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

html::-webkit-scrollbar {
    width: 1rem;
}

html::-webkit-scrollbar-thumb {
    background: var(--primary-color);
}

html::-webkit-scrollbar-track {
    background: var(--dark-color);
}

body {
    background-color: var(--secondary-color);
    overflow-x: hidden;
    /* padding-left: 35rem; */
    padding-left: 40rem;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    color: var(--dark-color);
    line-height: 1.6;
}


h1,
h2,
h3 {
    line-height: 1.1;
}


h1 {
    font-size: var(--fs-h1);
}

h2 {
    font-size: var(--fs-h2);
}

h3 {
    font-size: var(--fs-h3);

}

section {
    min-height: 100vh;
    padding: 1rem;
}


/* General Styling Ends */

/* Utilies Start */

.section-title {
    text-align: center;
    margin: 0 6rem;
    padding: 1rem;
    border-bottom: 0.1rem solid var(--light-color);
    color: var(--light-color);
}

.section-title span {
    color: var(--primary-color);
}

.subsection-title {
    text-align: center;
    padding: 3rem 0;
    color: var(--light-color);
}

.btn {
    padding: 2rem 4rem;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    cursor: pointer;
    margin-top: 1rem;
    font-size: var(--fs-body);
    border-radius: 5rem;
    border: none;
}

.btn:hover {
    background-color: var(--light-bg);
    color: var(--primary-color);
}

.text-center {
    text-align: center;
    margin-top: 5rem;
}

.center-items {
    max-width: 80%;
    margin: 0 auto;
}

/* Utilies End */

/* Header Section Start */

header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 100%;
    width: 40rem;
    background-color: #555;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    text-align: center;

}

header .user-name {
    font-size: var(--fs-h1);
}

header .user img {
    height: 20rem;
    width: 18rem;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 2rem;
    border: 0.7rem solid var(--primary-color);
}

header .user-name {
    font-size: 3.5rem;
    color: var(--light-color);
}

header .user-title {
    font-size: 2rem;
    color: var(--light-color);
}

header .navbar {
    width: 100%;
}

header .navbar ul {
    list-style: none;
    /* padding: 1rem; */
    margin: 3rem 0;
}

header .navbar ul li {
    border-bottom: 1px solid var(--secondary-color);
}

header .navbar ul li a {
    display: block;
    padding: 1rem;
    background: var(--light-bg);
    color: var(--light-color);
    font-size: var(--fs-body);
    text-decoration: none;
}

header .navbar ul li a:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}


#menu {
    position: fixed;
    top: 2rem;
    right: 2rem;
    cursor: pointer;
    font-size: 3.5rem;
    padding: 1rem 1.5rem;
    z-index: 9999;
    display: none;
    color: var(--light-color);
}

.social-links {
    padding-top: 2rem;
}

.social-links a {
    margin: 0 1rem;
}

.social-links i {
    font-size: 3.5rem;
    color: var(--primary-color);
}

/* Header Section End */

/* Home Section Starts */

.home {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-flow: column;
    padding: 0 15rem;
    color: var(--light-color);
}

.home h1 span {
    color: var(--primary-color);
}

.home h1 {
    margin: 1rem 0;
}

/* Home Section Ends */

/* About Section Starts */
.about {
    color: var(--light-color);
}

.about .row {
    display: flex;
    padding-top: 5rem;
}

.about .col {
    flex: 1;
    padding: 0 5rem;
}

.about h3 {
    padding-bottom: 2rem;
}

.progress-bars-wrapper {
    margin-bottom: 40px;
}

.progress-bar {
    width: 100%;
    height: 3rem;
    background: var(--light-color);
    margin: 1rem 0;
    border-radius: 0.3rem;
    /* box-shadow: .2rem .2rem 1rem #555; */
    position: relative;
}

.progress-text {
    position: absolute;
    left: 1rem;
    top: -0.3rem;
    color: var(--dark-color);
}

.progress-text span {
    margin: 0 0.5rem;
    font-weight: var(--fw-bold);
}

.progress-percent {
    height: 100%;
    background: var(--primary-color);
    border-radius: 0.3rem;
}

.progress-percent-1 {
    width: 80%;

}

.progress-percent-2 {
    width: 70%;
}

.progress-percent-3 {
    width: 40%;
}

.progress-percent-4 {
    width: 35%;
}

.progress-percent-5 {
    width: 45%;
}

/* About Section Ends */

/* Portfolio Section Starts */

.portfolio .row {
    display: flex;
    flex-flow: row wrap;
}

.portfolio .col {
    flex: 1;
    margin: 0 0.5rem;
    position: relative;
}

.portfolio .col:hover {
    z-index: 1;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.7);
}

.portfolio img {
    width: 100%;
    height: 100%;
    transform: scale(1);
    z-index: 1;

}

.portfolio img:hover {
    transform: scale(1.2rem);
    /* box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.7); */
}

.content {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    left: -12%;
    bottom: -12%;
    text-align: center;
}

.portfolio img:hover {
    transform: scale(1.3);
}

.col:hover .content {
    opacity: 1;
}

.text {
    background-color: var(--primary-color);
    color: var(--dark-color);
    font-size: 16px;
    padding: 16px 32px;
}

/* Portfolio Section Ends */

/* Contact Section Starts */
.contact form {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    max-width: 40%;
    margin: 20rem auto;
}

.contact form input {
    padding: 1.5rem;
    margin: 1rem 0;
    background: var(--light-bg);
    color: var(--light-color);
    text-transform: none;
    font-size: 2.5rem;
    border: none;
    border-radius: 2rem;
}

.contact .btn {
    font-size: var(--fs-body);
    border-radius: 2rem;
    padding: 1.5rem;
}

/* Contact Section Ends */



/* Resposive Media Queries */

@media screen and (max-width:1300px) {
    html {
        font-size: 55%;
    }

    .contact form {
        width: 90%;
    }

    .about .row {
        flex-direction: column;
        text-align: center      
    }

    .about h3 {
        padding-top: 5rem;
    }
}


@media screen and (max-width:990px) {

    header {
        left: -220%;
    }

    #menu {
        display: block;
    }

    header.active {
        left: 0%;
    }

    body {
        padding-left: 0;
    }

    .home {
        padding: 0 15rem;
    }

}


@media screen and (max-width:768px) {

    html {
        font-size: 50%;
    }


    .about .col h3 {
        padding-top: 10rem;
    }

    .progress-bars-wrapper {
        padding-top: 2rem;
    }

    .portfolio .row {
        flex-direction: column;
    }

    .portfolio .col {
        flex: 100%;
    }

    .portfolio img {
        width: 100%;
        padding: 1rem 5rem;
    }

    .content {
        left: 0%;
        bottom: 0%;
    }

    .contact form input,
    .contact .btn {
        font-size: 2rem;
        padding: 1rem 15rem;
    }

    .contact form {
        max-width: 100%;
        margin: 10rem auto;

    }

}


@media screen and (max-width:450px) {
    header {
        width: 100vw;
    }

    .home h1 {
        margin: 2rem 0;
    }

    .home h3 {
        font-size: 3rem;
    }

    .home .btn {
        font-size: 1.5rem;
        margin-top: 2rem;
    }

    .about .col {
        padding: 0;
    }

    .center-items {
        width: 100%;
    }

    .text-center {
        margin-top: 2rem;
    }

    .progress-bars-wrapper {
        margin-bottom: 10rem;
    }

    .portfolio img {
        padding: 0;
    }

}